# 1. Where did the dataset come from?

From NOAA's (National Oceanic and Atmospheric Administration) National Centers for Environmental Information
https://www.ncdc.noaa.gov/
https://www.ncdc.noaa.gov/stormevents/ftp.jsp

# 2. If I had questions about this dataset, who would I ask?

I would contact NCDC at: ncdc.orders@noaa.gov
or depending on my questions I would refer to the following web page for additional contact information: http://www.ncdc.noaa.gov/customer-support

# 3. Open the dataset using pandas.

In [2]:
import pandas as pd 

df = pd.read_csv("StormEvents_details-2017.csv")
df.head(2)

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,201703,1,905,201703,1,905,112769,673610,KENTUCKY,21,...,1.0,S,WEST LIBERTY,37.91,-83.27,37.91,-83.27,The first severe weather outbreak of 2017 stru...,Trees were blown down.,CSV
1,201703,1,920,201703,1,920,112769,673624,KENTUCKY,21,...,2.0,NE,GUAGE,37.62,-83.17,37.62,-83.17,The first severe weather outbreak of 2017 stru...,Two trees and numerous large limbs were blown ...,CSV

# 4. How many columns and rows does it have?

In [3]:
df.shape

(15619, 51)

# 5. What are the data types of each column?

In [4]:
df.dtypes

BEGIN_YEARMONTH         int64
BEGIN_DAY               int64
BEGIN_TIME              int64
END_YEARMONTH           int64
END_DAY                 int64
END_TIME                int64
EPISODE_ID              int64
EVENT_ID                int64
STATE                  object
STATE_FIPS              int64
YEAR                    int64
MONTH_NAME             object
EVENT_TYPE             object
CZ_TYPE                object
CZ_FIPS                 int64
CZ_NAME                object
WFO                    object
BEGIN_DATE_TIME        object
CZ_TIMEZONE            object
END_DATE_TIME          object
INJURIES_DIRECT         int64
INJURIES_INDIRECT       int64
DEATHS_DIRECT           int64
DEATHS_INDIRECT         int64
DAMAGE_PROPERTY        object
DAMAGE_CROPS           object
SOURCE                 object
MAGNITUDE             float64
MAGNITUDE_TYPE         object
FLOOD_CAUSE            object
CATEGORY              float64
TOR_F_SCALE            object
TOR_LENGTH            float64
TOR_WIDTH             float64
TOR_OTHER_WFO          object
TOR_OTHER_CZ_STATE     object
TOR_OTHER_CZ_FIPS     float64
TOR_OTHER_CZ_NAME      object
BEGIN_RANGE           float64
BEGIN_AZIMUTH          object
BEGIN_LOCATION         object
END_RANGE             float64
END_AZIMUTH            object
END_LOCATION           object
BEGIN_LAT             float64
BEGIN_LON             float64
END_LAT               float64
END_LON               float64
EPISODE_NARRATIVE      object
EVENT_NARRATIVE        object
DATA_SOURCE            object
dtype: object

# 6. Tell me what four of the columns mean, and state whether you made up the definitions or used a data dictionary.

EVENT_ID: (Primary database key field) ID assigned by NWS to note a single, small part that goes into a specific storm episode; links the storm episode between the three files downloaded from SPC’s website.
(VS --> EPISODE_ID: ID assigned by NWS to denote the storm episode; links the event details file with the information within location file.)

EVENT_TYPE: Ex: Hail, Thunderstorm Wind, Snow, Ice (spelled out; not abbreviated) The only events permitted in Storm Data are listed here http://www.nws.noaa.gov/directives/sym/pd01016005curr.pdf. The chosen event name should be the one that most accurately describes the meteorological event leading to fatalities, injuries, damage, etc. However, significant events, such as tornadoes, having no impact or causing no damage, should also be included in Storm Data.

SOURCE: Ex: Public, Newspaper, Law Enforcement, Broadcast Media, ASOS, Park and Forest Service, Trained Spotter, CoCoRaHS,  etc.  (can be any entry; isn’t restricted in what’s allowed)
Source reporting the weather event. 

EPISODE_NARRATIVE:(The episode narrative depicting the general nature and overall activity of the episode.  The narrative is created by NWS.)  Ex: A strong upper level system over the southern Rockies lifted northeast across the plains causing an intense surface low pressure system and attendant warm front to lift into Nebraska.

I used the data documentation found in "Storm Data Export Format, docx file"

# 7. Write five questions you could ask the data. A simple way to ask decent questions is comparing a measurement across two subgroups. For example, "how do points scored in basketball in the 1950's compare to the 1990's," "how often do women punch walls vs. men punch walls?"

a.What is the state with the most EVENTs?

b.What is the most common event_type in this state?

c.From the narration find the word??

d.How many fatalities? (Here I will have to join with another dataset)

e.What is the most common source of reporting a weather event in 2017?

# 8. Try to ask the data those five questions.

## a.What is the state with the most EVENTs?

In [5]:
df['STATE'].value_counts().head(1)

CALIFORNIA    1168
Name: STATE, dtype: int64

## b.What is the most common event_type in this state?

In [6]:
df_cal = df.loc[df.STATE == 'CALIFORNIA']
df_cal['EVENT_TYPE'].value_counts().head(1)

Flood    339
Name: EVENT_TYPE, dtype: int64

In [7]:
df_cal_flood = df_cal.loc[df_cal.EVENT_TYPE == 'Flood']
df_cal_flood.to_csv('CA_Floods_2017.csv', index=False)

## c.Are the floods related to high atmospheric pressure or low atmospheric pressure?

In [8]:
df_cal_flood.loc[df_cal_flood.EPISODE_NARRATIVE.notnull(), 'PRESSURE'] = df_cal_flood.EPISODE_NARRATIVE.str.extract(r"(\bhigh\b) \bpressure\b")
df_cal_flood.loc[df_cal_flood.EPISODE_NARRATIVE.notnull(), 'PRESSURE'] = df_cal_flood.EPISODE_NARRATIVE.str.extract(r"(\blow\b) \bpressure\b")
df_cal_flood['PRESSURE'].value_counts()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/site-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

low    51
Name: PRESSURE, dtype: int64

## d.How many fatalities were caused by floods in California in 2017?

In [9]:
df2 = pd.read_csv("StormEvents_fatalities-2017.csv")
df2.head(2)

,FAT_YEARMONTH,FAT_DAY,FAT_TIME,FATALITY_ID,EVENT_ID,FATALITY_TYPE,FATALITY_DATE,FATALITY_AGE,FATALITY_SEX,FATALITY_LOCATION,EVENT_YEARMONTH
0,201702,8,0,32955,665863,D,02/08/2017 00:00:00,69.0,F,Permanent Home,201611
1,201701,2,0,33036,675835,D,01/02/2017 00:00:00,23.0,F,Outside/Open Areas,201701

In [10]:
df3 = df_cal_flood.merge(df2, left_on='EVENT_ID', right_on='EVENT_ID')
df3.head(10)

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,FAT_YEARMONTH,FAT_DAY,FAT_TIME,FATALITY_ID,FATALITY_TYPE,FATALITY_DATE,FATALITY_AGE,FATALITY_SEX,FATALITY_LOCATION,EVENT_YEARMONTH
0,201702,17,700,201702,17,905,113902,682200,CALIFORNIA,6,...,201702,18,0,33179,D,02/18/2017 00:00:00,45.0,F,Vehicle/Towed Trailer,201702
1,201702,17,0,201702,17,1139,113902,682199,CALIFORNIA,6,...,201702,17,0,33170,I,02/17/2017 00:00:00,35.0,M,In Water,201702

In [11]:
df3['FATALITY_ID'].count()

2

## e.What are the five most common sources of reporting a weather event in 2017?

In [12]:
df['SOURCE'].value_counts().head()

Trained Spotter      2832
Public               1805
Emergency Manager    1294
Law Enforcement      1218
Mesonet               893
Name: SOURCE, dtype: int64